# *.pbo
# /TAS_Insignia_Music.pbo
# above file is too big for normal github — not any longer, all restrictions removed
# addons/TAS_Media/GayFrogs.ogv
# addons/TAS_Media/GayFrogs_Silent.ogv
addons/TAS_Media.pbo
addons/TAS_MgsTapes_Music.pbo
addons/TAS_GenerationKill_Music.pbo
addons/XIM_Core
addons/TAS_TB17A/Sound/m4a
addons/TAS_TB17A/Sound/wav